body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #60A5FA;
  padding: 10px 20px;
}

.logo {
  height: 70px;
}

.card {
  border-radius: 10px;
}

.btn {
  border-radius: 6px;
}
